<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>generateGraphQuestion</name>
        <type>plugin</type>
        <creationDate>2017-10-01</creationDate>
        <last_update>2026-06-28</last_update>
        <author>Denis Chenu</author>
        <authorUrl>https://www.sondages.pro</authorUrl>
        <version>3.0.3</version>
        <license>GNU AFFERO GENERAL PUBLIC LICENSE Version 3</license>
        <description><![CDATA[Generate radar graph image in question with base64 encoded data URI. Adapted for PHP 8.3 and LimeSurvey 7.]]></description>
    </metadata>

    <compatibility>
        <version>5.0</version>
        <version>6.0</version>
        <version>7.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
